/* 
* Estilos CSS
* Description: Estilos del CRUD.
* Version: 1.0
* Author: 2021 - Pablo Garay
* https://github.com/PabloGarayOk/CRUD-con-Paginacion-MVC.git
*/
@charset "utf-8";


body{
	font-family: century Gothic;
	height: 100vh;
	background: #8DCFD7;
	background: -webkit-linear-gradient(top left, #8DCFD7, #C332CD);
	background:    -moz-linear-gradient(top left, #8DCFD7, #C332CD);
	background: 		linear-gradient(to bottom right, #8DCFD7, #C332CD);
}

h1{
	text-align:center;
	font-size: 35px;
	color: #38337d;
}

.subtitulo{
	font-size:12px;
}

form {
    margin: auto;
}

table{
	/*width: 580px;*/
	width: 50%;
	background-color:#fff;
	border-radius: 10px;
	padding: 15px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(138,134,138,1);
	   -moz-box-shadow: 5px 5px 5px 0px rgba(138,134,138,1);
			box-shadow: 5px 5px 5px 0px rgba(138,134,138,1);
	border-collapse: collapse;
}

.titulos {
	background-color:#5e5c5e;
	border-top-left-radius: 10px;
}

table td{
	text-align:center;
	padding: 10px;
}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

.primera_fila{
	color: #fff;
	font-size:1.4em;
}

.pirmira_fila-left {
	border-top-left-radius: 10px;
}

.pirmira_fila-right {
	border-top-right-radius: 10px;
}

.centrado{
	text-align:center;
}

