/* 
* Estilos CSS
* Description: Estilos del CRUD.
* Version: 1.0
* Author: 2021 - Pablo Garay
* https://github.com/PabloGarayOk/CRUD-con-Paginacion-MVC.git
*/
@charset "utf-8";

body{
	font-family: century Gothic;
	height: 100vh;
	background: #8DCFD7;
	background: -webkit-linear-gradient(top left, #8DCFD7, #C332CD);
	background:    -moz-linear-gradient(top left, #8DCFD7, #C332CD);
	background: 		linear-gradient(to bottom right, #8DCFD7, #C332CD);
}

h1{
	text-align:center;
	font-size: 35px;
	color: #38337d;
}

.titulos {
	background-color:#5e5c5e;
	border-top-left-radius: 10px;
}

.subtitulo {
	font-size:12px;
}

form {
    margin: auto;
}

table {
	width: 95%;
	background-color:#fff;
	border-radius: 10px;
	padding: 15px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(138,134,138,1);
	   -moz-box-shadow: 5px 5px 5px 0px rgba(138,134,138,1);
			box-shadow: 5px 5px 5px 0px rgba(138,134,138,1);
	border-collapse: collapse;
}

td {
	text-align:center;
	padding: 10px;
	border-bottom: 1px #c9c9c9 solid;
}

input {
	border: 0px ;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration-line:underline ;
}

.primera_fila {
	color: #fff;
	font-size:1.4em;
}

.pirmira_fila-left {
	border-top-left-radius: 10px;
}

.pirmira_fila-right {
	border-top-right-radius: 10px;
}

.boton {
	color: #fff;
	font-size:1em;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: #a5a4a9;
	cursor: pointer;	
}

.boton:hover {
	color: #fff;
	background-color: #858487;
	-webkit-box-shadow: 0px 0px 4px 3px rgba(215,205,205,1);
	   -moz-box-shadow: 0px 0px 4px 3px rgba(205,205,205,1);
			box-shadow: 0px 0px 4px 3px rgba(205,205,205,1);
	transition: .3s ease all;
}

.boton-doble {
	padding: 5px 10px;	
}

.campo {
	text-align:center;
	border: 1px #a098d4 solid;
	background-color: #fff;
}

.ultima_fila {
	border:0	
}

@media (min-width: 750px) {
	table {
		width: 65%;

	}
}

@media (min-width: 950px) {
	table {
		width: 45%;
	}
}